<%- include ("templates/header.ejs") %>
  <div class="d-flex align-items-center min-vh-100">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-5 col-xxl-5 p-5 registry-login">
          <div class="mb-5 text-center">
            <h3 class="registry-login__title">Problem</h3>
            <h5 class="registry-login__subtitle">Sorry, we can't find this page.</h5>
          </div>
          <div class="d-flex justify-content-center">
            <a href="/"><button type="submit" id="btn-logout" class="btn">BACK</button></a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-5 col-xxl-5  mt-4">
          <%- include ("templates/about-project.ejs") %>
        </div>
      </div>
    </div>
  </div>
<%- include ("templates/footer.ejs") %>