<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Login system with CRUD</title>
  </head>
  <body>
    <div id="background-img" class="background-img"></div>
    <div id="container" class="container">
      <div id="main-wrapper" class="main-wrapper">
        <div id="header-wrapper" class="row header-wrapper">
          <div class="col header-wrapper-content">
            <h1 class="header-wrapper-content-title">
              Login system application
            </h1>
          </div>
        </div>
        <div id="menu-wrapper" class="row menu-wrapper">
          <div class="col menu-wrapper-content">
            <p class="menu-wrapper-content-text">
              <span
                id="menu-wrapper-content-text-login"
                class="menu-wrapper-content-text--main menu-wrapper-content-text--activate"
                >Sign in</span
              >
            </p>

            <p
              id="menu-wrapper-content-description"
              class="menu-wrapper-content-description"
            >
              Login to account and discover what there waiting on you.
            </p>
          </div>
        </div>
        <div id="login-wrapper" class="row wrapper">
          <div class="col wrapper-content">
            <form class="content-form" action="/" method="post">
              <div class="input-group content-form-input-wrapper">
                <span class="input-group-text">
                  <i class="fas fa-envelope"></i>
                </span>
                <input
                  type="text"
                  class="form-control content-form-input"
                  id="login-email"
                  name="email"
                  placeholder="Email address"
                  autofocus
                />
              </div>
              <div class="input-group content-form-input-wrapper">
                <span class="input-group-text">
                  <i class="fas fa-key"></i>
                </span>
                <input
                  type="password"
                  class="form-control content-form-input"
                  id="login-password"
                  name="password"
                  placeholder="Password"
                />
              </div>
              <div id="button-wrapper" class="content-form-send">
                <button
                  id="button"
                  type="submit"
                  class="btn btn-custom"
                  disabled
                >
                  Login
                </button>
              </div>
            </form>
          </div>
          <div id="redirect" class="col redirect">
            <p class="redirect-text">
              If you don't have account, you can create one!<a
                href="/registry"
                class="redirect-text-link"
                ><br />
                Click here</a
              >
              and registry account.
            </p>
          </div>
        </div>
        <div id="footer-wrapper" class="row footer-wrapper">
          <div class="col footer-wrapper-content">
            <p class="footer-wrapper-content-text">
              Website allows creates user account, login to profile, updates
              data and deletes them. More information about project on
              <a
                class="footer-link"
                href="https://github.com/drazkiewiczbart/login-system-crud" target="_blank"
                >GitHub</a
              >.
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/global-utilities.js"></script>
    <script src="/javascripts/login-utilities.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <% if (err) { %>
    <script>
      messageAlert('<%= err %>');
      errorTag();
      dispalyAlertMessage();
    </script>
    <% } %>
    <!-- - -->
    <% if (suc) { %>
    <script>
      messageAlert('<%= suc %>');
      successTag();
      dispalyAlertMessage();
    </script>
    <% } %>
  </body>
</html>
