<p class="information__paragraph pt-3">
  Website allows creates users, login to system, updates data and deletes them. Since this is a education and portfolio project and wanting to relieve the server resources, I decided that all data are deleted from database every day at specific hour.
</p>