<p class="information__paragraph pt-3"> Read me:
  Projekt zrealizaowany wyłącznie w celach edukacyjnych oraz jako portoflio. Strona pozwala na utworenia konta bądź zalodowanie się do juz istniejącego. W profilu uzytkownika mozna wykonać typowe operacja CRUD. Poza wcześniej przedstawionymi celami powstania tej strony nie oferuje ona zadnej dodatkowe fukcjonalności. Projekt jest wpełni zrealizowany przeze mnie. Jeśli chesz go przetestować będzie mi bardzo miło, jeśli masz jakieś uwagi bądź napotkałeś problem z jego działaniem daj mi znać.
</p>