body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #1e1e2f;
  color: #ffffff;
}

body, h1, .login-information__text {
  margin: 0;
}

body, h1, h2, form {
  padding: 0;
}

form {
  color: #ffffff;
  margin: 60px 0;
}

input::placeholder {
  color: #3f3f3f;
}

input[type=text], input[type=password], input[type=text]:focus, input[type=password]:focus {
  background-color: transparent;
  border: 1px solid #00CDAC;
  color: #ffffff;
}

label[for=email], label[for="password"], label[for=confirm-email], label[for=confirm-password] {
  margin-bottom: 5px;
  font-size: .75rem;
}

.admission__title {
  font-size: 3.5rem;
  font-weight: 700;
}

.admission__subtitle {
  margin-top: 10px;
  font-size: 1.5rem;
}

.form-group {
  margin: 10px 0;
}

.btn {
  margin-top: 30px;
  background-color: #00CDAC;
  border: none;
  color: #ffffff;
}

.btn:hover {
  color: #1e1e2f;
}

.login-information {
  margin-top: 100px;
  padding-top: 20px;
  border-top: 1px solid #00CDAC;
}

.login-information__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #00CDAC;
}

.login-information__link:hover {
  font-weight: 700;
  color: #00CDAC;
}