body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: .875rem;
  font-weight: 300;
  color: #1d1d1f;
}

.information {
  
}

.information__paragraph {
  border-top: 1px solid #a5a5a5;
  font-size: .8rem;
  text-align: justify;
  color:#a5a5a5;
}

.registry-login {
  border-radius: .5rem;
}

.registry-login__title {
  font-size: 3.5rem;
  font-weight: 700;
}

.registry-login__subtitle {
  font-size: 1.2rem;
}

.form-control, .form-control:focus {
  border:none;
  border-bottom: 1px solid #1d1d1f;
  background-color: transparent;
  color: #1d1d1f;
  font-size: 1.1rem;
}

.form-floating {
  color: #1d1d1f;
}

.form-control-lg {
  border-radius: 0;
}

.btn {
  background-color: #1d1d1f;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

.btn:hover {
  background-color: #1d1d1f;
  color: #ffffff;
}

.registry-login__link {
  color:#1d1d1f;
  font-weight: 700;
  text-decoration: none;
}

.registry-login__link:hover {
  color: #1d1d1f;
  text-decoration: underline;
}

.flash-message__error {
  color: #ff0000;
}

.flash-message__success {
  color: #3bcf00;
}