html {
  font-size: 10px;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-color: #1e1e2f;
  color: #ffffff;
}

.header-title {
  margin: 0;
  font-size: 6rem;
  font-weight: 700;
}

.header-subtitle {
  margin: 1rem 0 0 0;
  font-size: 2.5rem;
}

.form {
  margin: 6rem 0 4rem 0;
}

.form-label {
  margin: 0 0 1rem 0;
  font-size: 1.4rem;
}

.form-input, .form-input:focus {
  margin: 0 0 2rem 0;
  background-color: transparent;
  border: .1rem solid #00CDAC;
  color: #ffffff;
  font-size: 1.6rem;
}

.form-input::placeholder {
  color: #3f3f3f;
}

.form-validator-wrapper {
  margin: 4rem 0 2rem 0;
  padding: .375rem .75rem;
  border-radius: .25rem;
  font-size: 1.6rem;
}

.form-validator-error {
  border: .1rem solid #cd0000;
}

.form-validator-success {
  border: .1rem solid #00CDAC;
}

.form-validator-text {
  margin: 0;
}

.btn-look {
  margin: 2rem 0 0 0;
  background-color: #00CDAC;
  border: none;
  color: #ffffff;
  font-size: 2rem;
}

.btn-look:hover {
  color: #1e1e2f;
}

.login-information-text {
  padding: 2rem 0 0 0;
  font-size: 1.6rem;
  border-top: .1rem solid #00CDAC;
}

.login-information-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.login-information-link:hover {
  color: #00CDAC;
}